# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# ADMIN_USERNAME: Username for the admin panel.
ADMIN_USERNAME="AS.TAXI"
# ADMIN_PASSWORD: Password for the admin panel.
ADMIN_PASSWORD="##ASTAXI##"

# SMTP_HOST: SMTP server host for sending emails.
SMTP_HOST="smtp.strato.de"
# SMTP_PORT: SMTP server port.
SMTP_PORT="465"
# SMTP_USER: SMTP server username.
SMTP_USER="Info@as-mietwagen-service.de"
# SMTP_PASS: SMTP server password.
SMTP_PASS=""
# SMTP_FROM: Email address to send emails from.
SMTP_FROM="Info@as-mietwagen-service.de"
# SMTP_SECURE: Whether to use SSL/TLS for SMTP.
SMTP_SECURE="true"
